
@{
    ViewBag.Title = "Update Lokasi";
}

<input type="hidden" id="hd_path" value="@ViewBag.pathParent" />

<h3>Edit Lokasi</h3>

<hr />
<br />

<div class="row" id="form">

    <div class="col-md-12">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Nama Lokasi</label>
                <div class="col-md-4">
                    <input type="text" id="tx_namalokasi" name="tx_namalokasi" class="form-control" data-bind="value: location_name" />
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tentukan titik koordinat untuk menentukan area lokasi  : <span style="font-size:9px">(*klik pada peta untuk setting titik koordinat)</span>
                        </div>
                        <div class="panel-body">
                            <div id="map" style="width: 100%;height: 400px;background-color: grey;"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4">
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button id="btn_update" class="btn btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    var map;
  //  var marker;
    var arr_marker = [];

      function initMap() {

        //var myLatLng = { lat: -6.198138, lng: 106.915365 };

        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: -6.198138, lng: 106.915365 },
          zoom: 15,
          mapTypeId: 'hybrid'
        });

        google.maps.event.addListener(map, "click", function (e) {

            placeMarker(e.latLng);
            addMarker({ "latitude": e.latLng.lat(), "longtitude": e.latLng.lng() });
           // console.log(arr_marker)

        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });

            google.maps.event.addListener(marker, "click", function (e) {
                marker.setMap(null);
                deleteMarker({ "latitude": this.position.lat(), "longtitude": this.position.lng() })

            });
        }

        function deleteMarker(latLng) {

            var lat = latLng.latitude;
            var lng = latLng.longtitude;

           // console.log("lat param: " + lat + " " + "lng param: " + lng);
            

            for (var i = 0; i < arr_marker.length; i++) {
              
                if (arr_marker[i].latitude == lat && arr_marker[i].longtitude == lng) {      
                    arr_marker.splice(i, 1);
                }
            }

            //console.log("Terhapus:" + arr_marker)
        }

        function addMarker(latLng) {
            arr_marker.push(latLng);
        }

        $.ajax({
            type: "GET",
            url: $("#hd_path").val() + "/SetLocation/AjaxReadLocation?s_str_location_id=" + getParameterByName("id"),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response.status) {

                    var temp_marker = [];

                    viewModel.set("location_id", response.data.location_id);
                    viewModel.set("location_name", response.data.location_name);
                    arr_marker = response.data.latLng;

                    

                    map.setCenter(new google.maps.LatLng(response.data.latLng[0].latitude, response.data.latLng[0].longtitude))
                    map.setZoom(15)

                    for (i = 0; i < response.data.latLng.length; i++) {
                        var i_marker = new google.maps.Marker({
                            position: { "lat": response.data.latLng[i].latitude, "lng": response.data.latLng[i].longtitude },
                            map: map
                        });

                        //   temp_marker.push(i_marker)

                        google.maps.event.addListener(i_marker, "click", function (e) {
                            this.setMap(null);
                            deleteMarker({ "latitude": this.position.lat(), "longtitude": this.position.lng() })
                        });

                        
                    }

                    //for (i = 0; i < temp_marker.length; i++) {
                    //    google.maps.event.addListener(temp_marker[i], "click", function (e) {
                    //        this.setMap(null);
                    //        deleteMarker({ "latitude": this.position.lat(), "longtitude": this.position.lng() })
                    //    });
                    //}

                } else {
                    alert(response.error)
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
            }

        });

      }

      $(document).ready(function () {

          $("#btn_update").click(function () {
           
             update();
          });


          kendo.bind($("#form"), viewModel);

      })

      function update() {

          //console.log(JSON.stringify(viewModel));

          viewModel.set("latLng", arr_marker);

          $.ajax({
              type: "POST",
              url: $("#hd_path").val() + "/SetLocation/AjaxUpdateLocation",
              contentType: "application/json",
              data: JSON.stringify(viewModel),
              success: function (response) {
                  if (response.status) {
                      alert(response.remark)
                  } else {
                      alert(response.error)
                  }
                  location.reload();

              },
              error: function (jqXHR, textStatus, errorThrown) {
              }

          });

      }

      var viewModel = kendo.observable({
          location_id: "",
          location_name: "",
          latLng: [],
      });

      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, '\\$&');
          var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnqozSMiPNMGooyAGNroGrWkzNM7bGjjo&callback=initMap"
        async defer></script>




